.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.flickr-image:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.main {
  margin: auto;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.button {
  text-decoration: none;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
}
.buttons {
  margin: 20px;
}
